<mat-grid-list cols="3" rowHeight="200">
  <mat-grid-tile>
    <nc-store-card></nc-store-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <nc-store-card></nc-store-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <nc-store-card></nc-store-card>
  </mat-grid-tile>
</mat-grid-list>
