<mat-card class="store-card">
  <mat-card-header>
    <mat-card-title>Mon commerce</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <span>Description de mon commerce</span>
  </mat-card-content>

  <mat-card-actions align="end">
    <span>3 panier(s)</span>
    <span class="fx-spacer"></span>
    <button mat-icon-button>
      <mat-icon>favorite_border</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
